<p class="title">Here's Todo List Page</p>
<mat-spinner style="margin: 1em auto" *ngIf="loadingStatus"></mat-spinner>
<ul>
  <li *ngFor="let item of todos">
    <mat-card
      appMaterialElevation
      routerLink="/todo-detail"
      [state]="{ itemContent: item }"
    >
      {{ item.description }}<br />
      <small style="font-style: italic"
        ><strong>Deadline: </strong>{{ item.deadline }}</small
      >
      <mat-chip color="primary" selected>{{
        item.done ? "Done" : "Not Done"
      }}</mat-chip>
    </mat-card>
  </li>
</ul>
