<p>Todo Detail</p>
<ng-template #firstDialog>
  <h2 matDialogTitle>Warning!</h2>
  <p matDialogContent><em>Are you sure want to remove this?</em></p>
  <mat-dialog-actions align="end">
    <button color="primary" (click)="removeTodo(id)" mat-button matDialogClose>Sure!</button>
  </mat-dialog-actions>
</ng-template>
<mat-card>
  <button
    (click)="goBack()"
    mat-mini-fab
    aria-label="Example icon button with a home icon"
  >
    <mat-icon> < </mat-icon>
  </button>
  <p>Description: {{ description }}</p>
  <p>Deadline: {{ deadline }}</p>
  <p>is Done: {{ done }}</p>
  <div>
    <button
      (click)="openDialogWithRef(firstDialog)"
      style="width: 45%"
      mat-raised-button
      mat-button
      color="warn"
    >
      Remove
    </button>
    <button
      (click)="editTodo()"
      style="width: 45%; margin-left: 2em"
      mat-raised-button
      mat-button
      color="primary"
    >
      Edit
    </button>
  </div>
</mat-card>
