<p>Edit todo</p>
<form [formGroup]="inputTodoForm">
  <mat-card>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input required maxlength="100" formControlName="description" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please input description</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input formControlName="dateValue" matInput [value]="date.value" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox formControlName="doneValue" (change)="changeCheckbox()" [checked]="isDone">{{ isDone ? 'Done' : 'Not yet done' }}</mat-checkbox>
    </p>
    <p>
      <button (click)="submitBtn()" style="width: 100%" mat-raised-button mat-button color="primary">
        Update Todo
      </button>
    </p>
  </mat-card>
</form>
