<p class="title">Enter your information to begin the sign up process!</p>
<p *ngIf="userCreated">User Created. Now you can login with your account!</p>
<form [formGroup]="registerForm">
  <mat-card>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Input Name</mat-label>
        <input required maxlength="100" formControlName="name" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please your name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Input Email</mat-label>
        <input required maxlength="100" formControlName="email" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please your email</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Input Password</mat-label>
        <input required maxlength="100" formControlName="password" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please your password</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <button (click)="submitBtn()" style="width: 100%" mat-raised-button mat-button color="primary">
        Submit Login
      </button>
    </p>
  </mat-card>
</form>