<p class="title">Please sign in with your account!</p>
<div *ngIf="loadingProcess" fxLayout="row">
  <mat-spinner diameter="30"></mat-spinner>
  <span style="margin-left: 1em; margin-top: 0.5em;">Please wait...</span>
</div>
<p>{{ errorMsg }}</p>
<form [formGroup]="loginForm">
  <mat-card>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Input Email</mat-label>
        <input required maxlength="100" formControlName="email" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please your email</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Input Password</mat-label>
        <input required maxlength="100" formControlName="password" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Please your password</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <button (click)="submitBtn()" style="width: 100%" mat-raised-button mat-button color="primary">
        Submit Login
      </button>
    </p>
  </mat-card>
</form>