<mat-card>
  <p>
    <mat-toolbar>
      <span>Angular Bootcamp :: Septian Dwi Anugrah</span>
    </mat-toolbar>
  </p>
</mat-card>
<mat-card>
  <p>
    Navigation:
    <a [routerLink]="['/']">Home</a> |
    <a class="signInBtn" *ngIf="showSignInBtn" [routerLink]="['/sign-in']">Sign In</a> |
    <a class="signUpBtn" *ngIf="showSignOutBtn" [routerLink]="['/sign-up']">Sign Up</a> | 
    <a class="logoutBtn" (click)="logoutBtn()" *ngIf="showLogoutBtn">Log Out</a>
  </p>
</mat-card>
<mat-card>
  <p>
    Exercise 2:
    <a [routerLink]="['/todo-list']">Todo List</a> |
    <a [routerLink]="['/todo-input']">Todo Input</a>
  </p>
</mat-card>
<mat-card>
  <p>Exercise 3: Progress</p>
</mat-card>
